.booking-portal
{
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}
.booking-form
{
	height:400px;
	padding: 20px;
	float: left;
	top:100px;
	left:100px;
	width: 300px;
	background-color: lightgray;
}

.dates
{
	width: 50%;
	float: left;
}

.slider-content
{
		height:390px;
	padding: 20px;
	top:100px;
	margin-left: -60px;
	width: 500px;
	background-color:white;
}
.slider-content .title
{
	width: 20%;
	min-width: 165px;
	margin-left: auto;
	margin-right: auto;
}
.slider-content .image
{
	width: 20%;
	height: 15%;
	min-height: 145px;
	min-width: 145px;
	margin-left: auto;
	margin-right: auto;
}
.slider-content .text
{
	height: 60%;
	width: 400px;
	min-height: 300px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}




/*====================SEARCH RESULTS=========================*/

.search-results
{
	width: 700px;
	margin-left:400px;
	top:100px;

}
.search-results .item
{
	margin:20px;
	padding: 20px;
	width: 100%;
	height:170px;
	background-color: lightgray;

}
.search-results .item .thumb
{
	width: 100px;
	height: 100px;
	float: left;
}
.search-results .item .details
{
	width: 560px;
	height: 100px;
	float: right;
}
.gap
{
	margin:10px;
}
a
{
	cursor: pointer;
}